<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.1/font/bootstrap-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/AdminDashboard.css" />
    <title>@ViewBag.Title</title>
</head>
<body>

    

    <partial name="_AdminSidebar" />

    <main class="main-content expanded" id="mainContent">
        <partial name="_AdminTopNav" />
        @RenderBody()
    </main>

    @* toast container *@
    <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1055;"></div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <script src="~/js/AdminDashboard.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

