@* @page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" /> *@


@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email Confirmed";
}

<div class="auth-single">
    <div class="success-message">
        <div class="success-icon">
            <i class="bi bi-envelope-check"></i>
        </div>
        <h1>Email Confirmed!</h1>
        <partial name="_StatusMessage" model="Model.StatusMessage" />

        <div class="auth-links text-center mt-4">
            <a asp-page="./Login" class="btn btn-primary">
                <i class="bi bi-box-arrow-in-right"></i> Go to Login
            </a>
        </div>
    </div>
</div>